<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx" 
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->


	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"  id="DMDS">
	
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mydb?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="Rooh@#2001" />
		
	</bean>
	
	
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="LSFC">
			<property name="DataSource" ref="DMDS" />
			
			<property name="hibernateProperties">
			<props>
			   <prop key="hibernate.hbm2ddl.auto">update</prop>
			   <prop key="hibernate.show_sql">true</prop>
			   <prop key="hibernate.format_sql">true</prop>
			   
			   </props>
			</property>
			
			<property name="mappingResources">
			<list>
				<value> /com/sp/resources/account.hbm.xml </value>
			</list>
			</property>
	
		
	</bean>
	
	    <tx:annotation-driven/> 
		<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" id="transactionManager">
 			<property name="sessionFactory"  ref="LSFC"/>
		</bean>
		
		<bean class="org.springframework.orm.hibernate5.HibernateTemplate" id="hibernateTemplate">
 			<property name="sessionFactory"  ref="LSFC"/>
		</bean>
		
		<bean class="com.sp.dao.AccountDaoImpl" id="accimp">
 			<property name="hibernatetemp"  ref="hibernateTemplate"/>
		</bean>
</beans>